@model List<RealEstateBusiness.Models.Staff>
@using RealEstateBusiness.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div> 
        <h1>Staff Positions</h1>
        @foreach(Staff staff in Model)
        {
            @Html.ActionLink(staff.Position, "StaffPosition", "Home", new { @position = staff.Position }, null);
            <br>
        }
    </div>
</body>
</html>
