@model List<RealEstateBusiness.Models.Branch>
@using RealEstateBusiness.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BranchNames</title>
</head>
<body>
    <div> 
        <h1>Branch No</h1>
        @foreach(Branch branch in Model)
        {
            @Html.ActionLink(branch.BranchNo, "StaffinBranch", new { @branchNo = branch.BranchNo });
            <br>
        }
    </div>
</body>
</html>
