@model List<RealEstateBusiness.Models.Branch>
@using RealEstateBusiness.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Branches</h1>
        <table border="1">
            <tr>
                <td>BranchNo</td>
                <td>Street</td>
                <td>City</td>
                <td>PostCode</td>
            </tr>

            @foreach(Branch branch in Model)
            {
                <tr>
                    <td>@branch.BranchNo</td>
                    <td>@branch.Street</td>
                    <td>@branch.City</td>
                    <td>@branch.PostCode</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
