@model List<RealEstateBusiness.Models.Rent>
@using RealEstateBusiness.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyNo</title>
</head>
<body>
    <div> 
        <h1>Property Numbers</h1>
        <table>
            @foreach (Rent rent in Model)
            {
                <tr>
                    <td>@rent.PropertyNo</td>
                </tr>
            }
            
        </table>
    </div>
</body>
</html>
