@model List<RealEstateBusiness.Models.Staff>
@using RealEstateBusiness.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffPosition</title>
</head>
<body>
    <div> 
        <h1>Staff Names</h1>
        <table>
            @foreach (Staff staff in Model)
            {
                <tr>
                    <td>@staff.Fname @staff.Lname</td>
                </tr>
            }
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
